* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Tahoma, Serif;
  background: #e8f8ff
}

nav {
  display: flex;
  justify-content:space-between; 
  align-items: center;
  background: #cfd8dc;
  border-bottom: 1px solid rgba(0, 0, 0, 0.285);
}

nav .logo {
  padding-left: 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  padding-right: 0.5rem;
}

nav li {
  padding: 15px;
  border-radius: 5px;
  font-size: larger;
}

nav li :hover {
  background: #b0bec5;
  padding: 15px;
  border-radius: 5px;
}

nav a {
  text-decoration: none;
  color: #0d47a1
}


.landing {
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: large;
  justify-content: space-between;
  align-items: center;
  background: #b0bec570;
  border: 1px solid rgba(0, 0, 0, 0.092);
  border-radius: 5px;
  margin: 1% 1%;
}

.text {
  position: relative;
  display: inline-block;
  padding-left: 3rem;
}

.landing .text span {
  display: block;
  padding-left: 15rem;
  padding-top: 5rem;
}

.landing .text .button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #b0bec570;
  font-size: xx-large;
  text-decoration: none;
}

.landing .text .button:hover {
  background-color: #b0bec5;
}

.image {
  display: inline-block;
  position: relative;
  padding-right: 2rem;
  padding: .5rem;
}

.image .logo {
  position: relative;
  width: 50%;
  height: 50%;
  transform: translateX(50%);
  object-fit: contain;
  border-radius: 5px;
}

.image form {
  position: relative;
  width: 30rem;
  border-radius: .7rem;
}

.image form :focus {
  outline: none;
}

.image input, .image button {
  height: 5rem;
  border: 0;
  font-size: 1.8rem;
}

.image input {
  width: calc(100% - 6rem);
  padding: 0 1.6rem;
  border-radius: .7rem 0 0 .7rem;
  appearance: none;
  position: relative;
}

.image button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  border-radius: 0 .7rem .7rem 0;
}

.image button:hover {
  background-color: #b0bec586;
}
