<!DOCTYPE html>
<html>
<head>
    <title>LetterPress || make your own portfolio easy for free</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel= "stylesheet" type = "text/css"
         href = "{{ url_for('static', filename = 'css/home.css') }}" ></link>
</head>
<body>
    <nav>
        <object class="logo" data="{{ url_for('static', filename = 'SVG/Letterpress_Title.svg') }}" width="200" height="100"></object>
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="landing">
            <div class="text">
                <h1>Make your own portfolio easy for free</h1>
                <p>LetterPress is a free portfolio website builder that helps you create a professional portfolio website in minutes. No coding skills required.</p>
                <span><a class="button" href="{{ url_for('login') }}">Get Started</a></span>
            </div>
            <div class="image">
                <object class="logo" data="{{ url_for('static', filename = 'SVG/Letterpress_Logo.svg') }}"></object>
                <form action="{{ url_for('search') }}" method="post">
                    <input id="search" type="search" name="nm" placeholder="Search portfolios..." autofocus required />
                    <button type="submit">Go</button>    
                </form>
            </div>
        </div>
    </div>
</body>
</html>