<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login || Signup</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/login.css') }}">
	</link>
</head>

<body>
	<div class="main">
		<div class="login">
			<h1>Login</h1><br>
			<form action="{{ url_for('login') }}?f=lgn" method="post">
				<div class="input_boxes">
					<i class="fas fa-envelope"></i>
					<input type="text" name="id" id="login" placeholder="Enter your Email" required />
				</div><br>
				<div class="input_boxes">
					<i class="fas fa-lock"></i>
					<input type="password" name="pwd" placeholder="Enter your Password" required />
				</div><br>
				<div class="submit">
					<input type="submit" value="Sumbit">
				</div>
				<div>
					{% if error %}
					  <p style="color: red; text-align: center; font: 1em sans-serif;">{{ error }}</p>
					{% endif %}
				</div>
			</form>
		</div>
		<div class="signup">
			<h1>Signup</h1><br>
			<form action="{{ url_for('login') }}?f=signup" method="post">
				<div class="input_boxes">
					<i class="fas fa-user"></i>
					<input type="text" name="unm" id="signup" placeholder="Enter a Username" required />
				</div><br>
				<div class="input_boxes">
					<i class="fas fa-envelope"></i>
					<input type="email" name="sid" placeholder="Enter a Email" required />
				</div><br>
				<div class="input_boxes">
					<i class="fas fa-lock"></i>
					<input type="password" name="spwd" placeholder="Enter your Password" required />
				</div><br>
				<div class="submit">
					<input type="submit" value="Sumbit">
				</div>
				<div>
					{% if inp %}
					  <p style="color: green; text-align: center; font: 1em sans-serif;">{{ inp }}</p>
					{% endif %}
			</form>
		</div>
	</div>
</body>

</html>